
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .jarallax-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: url("../Imagenes/Mordecai.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    
  }

 .titulo {

    color: #0a244f;
    text-align: center; 
    text-shadow: 50px 4px 4px rgb(0 0 0 / 62%);
    display: inline-block; 
    padding: 10px; 
    font-family: arial; 
    text-decoration: underline dotted #0000ff30 8px;
    background-color: #a1717161;

  }

  .container-fluid {
    height: 100%; /* Establece la altura del contenedor fluido para ocupar toda la pantalla */
  }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.containercard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra las tarjetas horizontalmente */
  width: 500px;
  margin-top: 30px;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Espacio entre las tarjetas */
  margin-bottom: 10px; /* Espacio entre las filas de tarjetas */
  
}

.card {

    text-align: center;
    width: calc(50% - 10px);
    /* Tamaño de las tarjetas (50% - 10px de margen) */
    height: 200px;
    /* Altura de las tarjetas */
    margin-bottom: 10px;
    /* Espacio entre las tarjetas */
    background-color: transparent;
    font-family: Helvetica;
    -webkit-text-stroke: 1px rgba(180, 218, 42, 0.281);
    z-index: 1;
    font-size: 20px;
    
}

.card-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../Imagenes/imagen3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.70; /* Ajusta el valor de opacidad (entre 0 y 1) */
    z-index: -1; /* Coloca el pseudo-elemento detrás del contenido de la card */
  }

  .card-title {

    font-size: 33px;
    font-variant: small-caps; 
  }



  .modal {
    text-align: center;
  }

  .modal-content {

    text-align: center;
    
  }

/*

.imagen-fondo {

    background-image: url("../Imagenes/imagen1.jpg") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

/*
.card:nth-child(1) {
  background-color: coral;
}

.card:nth-child(2) {
  background-color: cornflowerblue;
}

.card:nth-child(3) {
  background-color: darkseagreen;
}

.card:nth-child(4) {
  background-color: greenyellow;
}

/* Y así sucesivamente, añade más estilos para más tarjetas según sea necesario */

  
  