
table {
    border-collapse: collapse;
    color: black;
    font-family: Arial;
}

td, th {

    border: 1px solid #333; 
}

th {

    background-color: lightgrey;
}


.euro-dolar {

    background-color:darkgreen;
}

#dolar {

    background-color: #e6f3ff;
    text-align: left;
    
}


/*body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .jarallax-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: url("../Imagenes/Mordecai.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    
  }*/